<div class="container  text-center align-items-center" style=" justify-content: center;">
    <div class="row mb-md-4 ">
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
              <img 
               defaultColor="red" class="card-img-top rounded mx-auto d-block"
                src="image 1.png" alt="Card image cap" style="border-radius: 0%;">
              <div class="card-body">
                <h5 class="card-title">Thesyenia</h5>
                <p class="card-text text-secondary">Stylish Dining Room</p>
                <p class="card-text" >Rp 250,000.000</p>       
              </div>
              <div class="overlay">
                <div class="text d-flex flex-column justify-content-center">
                  <button class="btn0">Add To Cart</button>
                  <div class="d-flex flex-row">
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-heart" style="color: white;"></i> Love
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div  class="col-12 col-md-3 "  >
         
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -50%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="Images-2.png" alt="Card image cap"  style="border-radius: 0%;">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <span class="card-text" >Rp 100,000.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 150,000.000</span>     
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="image 3.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Lolito</h5>
                  <p class="card-text text-secondary">Luxury big sofa</p>
                  <p class="card-text" >Rp 7.000.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -10%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="Images.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Respira</h5>
                  <p class="card-text text-secondary">Outdoor bar table and stool</p>
                  <span class="card-text" >Rp 500.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 500,000.000</span>      
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -30%</div>
              <img 
               defaultColor="red" class="card-img-top rounded mx-auto d-block"
                src="Images-1.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Grifo</h5>
                <p class="card-text text-secondary">Night lamp</p>
                <span class="card-text" >Rp Rp 1.500.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 2.500.000</span>      
              </div>
              <div class="overlay">
                <div class="text d-flex flex-column justify-content-center">
                  <button class="btn0">Add To Cart</button>
                  <div class="d-flex flex-row">
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-heart" style="color: white;"></i> Love
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div  class="col-12 col-md-3"  > 
        <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(80, 126, 251);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                New</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src=" Images.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Muggo</h5>
                  <p class="card-text text-secondary">Small mug</p>
                  <p class="card-text" >Rp 150.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="image 7.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Pingky</h5>
                  <p class="card-text text-secondary">Cute bed set</p>
                  <p class="card-text" >Rp 7.000.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -10%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="Images-2.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Potty</h5>
                  <p class="card-text text-secondary">Minimalist flower pot</p>
                  <span class="card-text" >Rp 500.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 1.000.000</span>     
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
