<nav class="navbar navbar-expand-lg bg-body-tertiary bg-white fixed-top">
    <div class="container d-flex " >
        
        <div class="d-flex flex-row " >
            <img width="50" height="50" class="rounded-circle p-1" src="123.jpg"/>
            <a class="navbar-brand" routerLink='/home' routerLinkActive="router-link-active"  > <h2 >Funiro</h2></a>
        </div>

        <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
         data-bs-target="#navbarSupportedContent" 
         aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto m-md-auto">
          <li class="nav-item" style="margin: 5px; margin-right: 20px;">
            <a class="nav-link mr-5" routerLink='/home'>Home</a>
          </li>
          <li class="nav-item" style="margin: 5px;margin-right: 20px;">
            <a class="nav-link pl-3" routerLink='/shop' >Shop </a>
          </li>
          <li class="nav-item" style="margin: 5px;margin-right: 20px;">
            <a class="nav-link pl-3" routerLink='/about' >About </a>
          </li>
          <li class="nav-item" style="margin: 5px;margin-right: 20px;">
            <a class="nav-link pl-3" routerLink='/contact'>Contact </a>
          </li>

        </ul>
        <ul class="nav col-md-4 justify-content-center list-unstyled d-flex me-center ">
            <li class="bi bi-person-exclamation fs-3  p-3"></li>
            <i class="bi bi-search fs-3  p-3"></i>
            <i class="bi bi-heart fs-3  p-3"></i>
            <i class="bi bi-cart3 fs-3  p-3"></i>      
        </ul>
      </div>
    </div>
  </nav>

 