.bg{
    // height: 300px;
    min-width: 100%;
    max-width: 200%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}

img{
    // margin-top: 200px;
    height: 400px;
    max-width: 300%;
    min-width: 100%;
    position: relative;
}

.hel {
    position: absolute;
    top: 50%;
    left: 45%;
  
    @media (max-width: 768px) {
      left: 35%;
    }
}  

.fil .ro{
    display: flex;
    // align-items: center;
    padding: 50px;
    // padding-bottom: 70px;
}

.dot-square {
    display: grid;
    grid-template-columns: repeat(2, 10px);
    grid-template-rows: repeat(2, 10px);
    gap: 0px; 
  
    .dot {
      width:150px;
      height: 150px;
      background-color: black;
      border-radius: 50%;
    }
  }
  
