<div class="bg w-auto w-md-100 ">
    <img src="blur.jpg" alt="hello shoping" style="opacity: 0.7;">
    <div class="hel ">
        <h2 style="font-weight: bolder;">Shop</h2>
        <P style="font-weight: bolder;">
            <a routerLink='/home' routerLinkActive="router-link-active" style="
            text-decoration: none;
            color: black;
            ">Home</a>
            > <span style="font-weight: lighter !important;">Shop</span>
        </P>
    </div>
</div>

<div class="fil row d-flex justify-content-between align-content-center p-4 ps-5 mb-3 m-0"
 style="background-color: antiquewhite;">

    <div class="col-md-1 col-12">
            <div class="d-flex ">
                <div style="display: flex; position: relative;" class="pt-1">
                    <h5 class=" d-flex ">
                        <i class="bi bi-sliders" style="margin-right: 10px;"></i>
                        <span style="font-size: 20px;"> Filter</span>
                    </h5>

                    <div class="dot-square bottom-100 start-100" style="position: absolute;">

                        <i class="bi bi-dot" style="font-size: 40px;"></i>
                        <i class="bi bi-dot" style="font-size: 40px;"></i>
                        <i class="bi bi-dot" style="font-size: 40px;"></i>
                        <i class="bi bi-dot" style="font-size: 40px;"></i>

                    </div>
                </div>

                <div style="margin-left:50px ;">

                    <i class="bi bi-view-list" style="font-size: 20px;"></i>
                    
                  
                </div>
                <span class= " me-3 ms-3 fw-lighter d-none d-md-block ">|</span>
            </div>
    </div>
    <div class="col-md-6 col-12">

        <span style="font-size: 20px;"> Showing 1-16 of 36 results</span>
       </div>

    <div class="col-md-4 col-12  align-items-lg-end">
        <label class="me-2">Show</label>
        <input class="p-2" placeholder="16" style="border: 0 solid white; 
        background-color: white;
         color: grey;
         width:40px">

        <label class="ms-3 me-2 ">Sort By</label>
        <input class="p-2" placeholder="Default" style="border: 0 solid white; 
            background-color: white;
            color: grey;
            width: 90px">

    </div>
</div> 