<div class="container" style="text-align: center; margin-top: 40px;">
    <p>Share Your setuo with</p>
    <h1> #FuniroForniture </h1>
    <div>
        <img src="3.jfif" alt="img" style="margin: 10px;width:325px; height: 350px;">
        <img src="1.jfif" alt="img" style=" width:200px; height: 250px;margin: 10px;">
        <img src="2.jfif" alt="img" style="margin: 10px;width:100px; height: 150px;">
        <img src="3.jfif" alt="img" style="margin: 10px;width:325px; height: 350px;">
        <img src="4.jfif" alt="img" style="margin: 10px;width:170px; height: 190px;"> 
        <img src="5.jfif" alt="img" style="width:225px; height: 275px;margin: 10px;">
        <img src="6.jfif" alt="img" style="margin: 10px;width:245px; height: 350px;">
        <img src="7.jfif" alt="img" style="margin: 10px;width:90px; height: 120px;">
        <img src="8.jfif" alt="img" style="margin: 10px;width:220px; height: 300px;">
        <img src="2.jfif" alt="img" style="margin: 10px;width:100px; height: 150px;">
        <img src="4.jfif" alt="img" style="margin: 10px;width:170px; height: 190px;"> 
    </div>
</div>
