<header class="header container-fluid bg-image" style="background-image: url(00.avif)  ;
position: relative; ">
    <div class="header-content">
        <app-navbar></app-navbar>
           <div> 
            <div style="
            background-color: rgb(252, 228, 211);
            width: 350px; text-align: start;
            padding: 15px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin: 20px;
            ">
                <p style="text-align: start!important">New Arrival</p>
                <h2 class="fw-bold" style="color: chocolate;">Discover Our New Collection</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam,
                    delectus deleniti .</p>
                <button class="btn" style="background-color: chocolate;
                  border-radius: 0%;
                   color: white;"
                   (click)="goShop()"
                   [routerLink]="['/shop']" routerLinkActive="router-link-active"
                   > Buy Now</button>
            </div>
        </div>

    </div>