<div class="container  text-center align-items-center" style=" justify-content: center;">
    <div class="row mb-md-4 ">
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
              <img 
               defaultColor="red" class="card-img-top rounded mx-auto d-block"
                src="1.jfif" alt="Card image cap" style="border-radius: 0%;">
              <div class="card-body">
                <h5 class="card-title">Thesyenia</h5>
                <p class="card-text text-secondary">Stylish Dining Room</p>
                <p class="card-text" >Rp 250,000.000</p>       
              </div>
              <div class="overlay">
                <div class="text d-flex flex-column justify-content-center">
                  <button class="btn0">Add To Cart</button>
                  <div class="d-flex flex-row">
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-heart" style="color: white;"></i> Love
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div  class="col-12 col-md-3 "  >
         
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -50%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="2.jfif" alt="Card image cap"  style="border-radius: 0%;">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <span class="card-text" >Rp 100,000.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 150,000.000</span>     
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="log.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <p class="card-text" >Rp 250,000.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -10%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="4.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <span class="card-text" >Rp 450,000.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 500,000.000</span>      
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row">
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -30%</div>
              <img 
               defaultColor="red" class="card-img-top rounded mx-auto d-block"
                src="6.jfif" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Thesyenia</h5>
                <p class="card-text text-secondary">Stylish Dining Room</p>
                <span class="card-text" >Rp 250,000.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 300,000.000</span>      
              </div>
              <div class="overlay">
                <div class="text d-flex flex-column justify-content-center">
                  <button class="btn0">Add To Cart</button>
                  <div class="d-flex flex-row">
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                    </span>
                    <span class="d-flex flex-row m-2">
                      <i class="bi bi-heart" style="color: white;"></i> Love
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div  class="col-12 col-md-3"  > 
        <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(80, 126, 251);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                New</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="7.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <p class="card-text" >Rp 250,000.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start;min-height: 400px;" >
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="5.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <p class="card-text" >Rp 250,000.000</p>       
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div  class="col-12 col-md-3 "  >
            <div  class="card " style="text-align: start; position: relative;min-height: 400px;" >
                <div
                 style="position: absolute; 
                 top: 10px;
                 right: 10px; width: 45px; height: 45px;
                border-radius: 50%; 
                background-color: rgb(222, 87, 87);
                text-align: center;
                color: aliceblue;
                justify-items: center;
                padding-top: 12px;
                font-size: 11px;
                ">
                -10%</div>
                <img 
                 defaultColor="red" class="card-img-top rounded mx-auto d-block"
                  src="3.jfif" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Thesyenia</h5>
                  <p class="card-text text-secondary">Stylish Dining Room</p>
                  <span class="card-text" >Rp 50,000.000</span>
                  <span class="card-text "
                   style="margin-left: 40px;
                    text-decoration-line: line-through;
                    color: gray;
                    " >Rp 90,000.000</span>     
                </div>
                <div class="overlay">
                  <div class="text d-flex flex-column justify-content-center">
                    <button class="btn0">Add To Cart</button>
                    <div class="d-flex flex-row">
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-share" style="color: white; margin: 3px;"></i> Share
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-arrow-left-right" style="color: white;"></i> Compare
                      </span>
                      <span class="d-flex flex-row m-2">
                        <i class="bi bi-heart" style="color: white;"></i> Love
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
